/* Debug */
.debug{
  /* background-color: lime;
  width: 100px;
  height: 100px; */
  border: 1px solid red;
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* General */
body { 
  width: 1200px;
  margin: 0 auto;
}

.container-100{
  width: 100%;
  margin: 0 auto;
}
.container-80{
  width: 80%;
  margin: 0 auto;
}

/* Column */
.col {
  float: left;
  width: 20%;
}
.col-center {
  width: 60%;
  padding: 0 20px;
}

.left {
  float: left;
  text-align: start;
}
.right {
  float: right;
  text-align: end;
}

/* Header */
nav .logo, nav ul{
  float: left;
}
nav .logo img{
  vertical-align: middle;
}
nav img {
  padding: 20px 10px;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: 25px 10px;
  font-weight: 600;
  font-size: 16px;
}
nav ul li a{
  text-decoration: none;
  color: black;

}

/* Jumbotron */
.jumbotron {
  background-color: #b4d0e7;
}
.jumbotron h1{
  text-align: rigth;
  font-size: 50px;
  color: black;
  padding: 10px;
  border: 1px solid red;
}
.jumbotron p{
  width: 40%;
  margin: 20px 0;
  text-align: left;
  color: black;
  font-size: 16px;
  border: 1px solid red;
}
.jumbotron img, .btn, .arrow-down {
  border: 1px solid red;
}

.jumbotron img{
  width: 50%;
  float: right;
  margin-top: -22%;
  margin-right: 10%; 
  object-fit: cover;
  /* z-index: 1; */
}


/* Main */
main {
  border: 1px solid red;
}

/* Footer */
footer {
  border: 1px solid green;
}